<div class="question">
    <div class="reveal">
        <QuestionDetails @question={{this.questionDetails}} />
        {{#if (eq this.questionType "multiple-choice")}}
        <MultiChoice @isMultiAnswer={{this.multiAnswer}} @choices={{@question.choices}} @output={{this.setAnswer}}
            @value={{this.answer}}>
        </MultiChoice>
        {{else if (eq this.questionType "text")}}
        <FreeText>
        </FreeText>
        {{/if}}

        <div class="action">
            <button class="button" {{on "click" this.saveAnswer}}>OK</button>
        </div>

    </div>
</div>