<div class="container">
    <main class="questionair" id="questionair">
        <form style="margin-top: 20%">
            <div class="question">
                <QuestionDetails @question={{hash headline=this.model.name description=this.model.description }}>
                </QuestionDetails>
                <div class="action" style="text-align: center;">
                    <button class="button" type="submit" {{on "click" this.next}}>OK</button>
                </div>
            </div>
            {{#each this.model.questions as |question|}}
            <Question @question={{question}} @next={{this.next}} />
            {{/each}}
            <div class="question">
                <div class="reveal">
                    <div class="success-container " id="success-container" style="width: auto">
                        <div class="success-item success-fixed" style="text-align: center;">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="204" height="100" class="success-icon"
                                    viewBox="0 0 24 24" enable-background="new 0 0 512 512" xml:space="preserve">
                                    <path id="success-icon-fill"
                                        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-1 17l-5-5.299 1.399-1.43 3.574 3.736 6.572-7.007 1.455 1.403-8 8.597z" />
                                </svg>
                            </div>
                            <p>Hurra ... Sie haben den Fragebogen ausgefüllt.</p>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </main>
    <footer>
        <div class="navigation-button">
            <div class="arrow top prev_field" {{on "click" this.prev}}></div>
            <div class="arrow bottom next_field" {{on "click" this.next}}></div>
        </div>
    </footer>
</div>